<div class="footer">
    <div class="icons" (click)="setActiveIcon('home')" id="homeIcon">
      <fa-icon [icon]="houseIcon"></fa-icon>
    </div>
    <div class="icons" (click)="setActiveIcon('search')" id="searchIcon">
      <fa-icon [icon]="scearchIcon"></fa-icon>
    </div>
    <div class="icons" (click)="setActiveIcon('car')" id="carIcon">
      <fa-icon [icon]="carIcon"></fa-icon>
    </div>
    <div class="icons" (click)="setActiveIcon('user')" id="userIcon">
      <fa-icon [icon]="userIcon"></fa-icon>
    </div>
  </div>
  