<div class="container">
    <div class="sub-container">
        <div class="poster">
            <img src='assets\home\Group 756.png'>
        </div>
        <div class="services">
            <div class="book-service">
               <img src="assets\home\Group 757.png">&nbsp; &nbsp; <span>Book a ride</span>
            </div>
            <div class="book-service">
              <img src='assets\home\Group 758.png'>&nbsp; &nbsp;   <span>Parcel</span>
            </div>
        </div>

        <div class="location-div">
            <div class="location">
                
                    <fa-icon [icon]="LocationIcon" class="iconss"></fa-icon>
                    <input type="text" placeholder="Your current location">
            </div>
            <div class="location">
                <fa-icon [icon]="scearchIcon" class="iconss"></fa-icon>
                <input placeholder="Where are you going?">
            </div>
        </div>

        <div class="refernce">
            <div><img src="assets/home/Group 768.png"></div>
            <div class="refer-txt"><h3>Refer your friend</h3><p>Get  more discount on your rides</p></div>
        </div>
        <div class="saving">
           <div> <pre class="sav">Save more with share Travels</pre></div>
            <div class="sub-saving">
                <div class="sav-refer">
                   <div class="div-img"> <img src="assets\home\Rectangle 3265.png"></div>
                    <span class="sav">Refer  friends</span>
                </div>
                <div class="sav-refer">
                    <div class="div-img"> <img src="assets\home\Group 772.png"></div>
                    <span class="sav">Refer  friends</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dummy"></div>
<div class="fotter">
   <div class="foter-sec"> <app-fotter ></app-fotter></div>
</div>
